/* game board table */
html {
  font-family: 'Oswald', sans-serif;
}

.colorpicker {
  border: 1px black solid;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.colorinput {
  display: block;
  margin: 0 auto;
}

#startgame {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: blue;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}

#game {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* .piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
